<!-- 注意：<template></template>内只能有一个子标签，里面编写内容和html编写一致 -->
<template>
  <div class="app-page">
    <!-- <h2>{{title}}</h2> -->
    <router-view></router-view>
  </div>
</template>

<!-- js代码编写 -->
<script>
  // export default是ES6的语法，意思是将这个东西导出，你要import 引入东西，导出了才能引用，data是一个函数是因为data是被很多组件共享的，如果 data 是一个的对象的话，每次实例化会造成所有的实例共享引用同一个数据对象
  export default {
    // 这是组件中需要用的到的数据
    data () {
      // vue 规定data必须是函数 所以用return方法给每个组件返回不同的data
      return {
        title: 'hello world'
      }
    },
    // 实例已经创建完成之后被调用
    created () {
      console.log('组件被初始化了')
    },
    // 给组件挂载实例的时候调用的方法
    mounted () {
      this.init()
    },
    /**
     * 这边写组件内需要用的函数
     * @type {Object}
     */
    methods: {
      /**
       * 定义的函数
       * @return {[type]} [description]
       */
      init () {
        console.log('方法')
      }
    }
  }
</script>

<!--
  css样式
    引入了less语法
    因为是spa（单页面）项目，所以需要特别注意命名和样式污染
-->
<style lang="less">
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #333;
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
    }
    .fl { float: left; }
    .fr { float: right; }
    .cl { clear: both; }
  }
</style>